.orange-bar{
    background-color: #ff4800 !important;
    border-bottom: 0 !important;
}
.orange-bar .navbar-brand{
    color:white !important;
}
.orange-bar .navbar-brand:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.orange-bar ul li a{
    color:white !important;
    background-color: #ff4800;
}
.orange-bar ul li.active a{
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open a{
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open ul li a {
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open ul li.active a {
    color:white !important;
    background-color: #ff4800 !important;
}
.orange-bar ul li.dropdown.open ul li a:hover {
    color:white !important;
    background-color: #ff4800 !important;
}
.orange-bar .navbar-header button{
    border:0;
}
.orange-bar .navbar-header button.collapsed{
    background-color: #ff4800 !important;
}
.orange-bar .navbar-header button.collapsed span{
    background-color: white !important;
}
.orange-bar .navbar-header button{
    background-color: white !important;
}
.orange-bar .navbar-header button span{
    background-color:black !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:0 !important;
}

.room-select .roomBtnGroup {
    padding: 30px;
    width: 100%;
}

.room-select .roomBtnGroup .roomItem {
    padding: 10px;
    box-shadow: none;
    position: relative;
    border: 2px solid #cecece;
}

.room-select .roomBtnGroup .roomItem.active {
    border-color: #ff4800 !important;
    outline: none !important;
    box-shadow: 0 3px 22px 0 #ff4800;
}

.room-select .roomBtnGroup .roomItem .thumb {
    transition: all 0.5s;
}

.room-select .roomBtnGroup .roomItem .thumb .title{
  margin-top: 10px;
    font-size: 19px;
}
.room-select .roomBtnGroup .roomItem .thumb .price{
    margin-top: 10px;
}


.room-select .roomBtnGroup .roomItem .thumb img {
    width: 100%;
}

.page-control{
    margin-bottom: 15px;
}
.page-control .btn-orange{
    color:white !important;
    background-color:#ff4800;
    border-color:#ff4800;
}
.page-control .btn-orange:hover{
    background-color:#ee3700 !important;
}

.booking-tabs li.active a{
    background-color: #ff4800 !important;
    color:white !important;
}




.room-list .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

    margin-bottom: 30px;
}

.room-list .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.room-list .card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.room-list .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.room-list .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.room-list .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}













.room-detail-view img {
    max-width: 100%; }

.room-detail-view .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .room-detail-view .preview {
        margin-bottom: 20px; } }

.room-detail-view .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.room-detail-view .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.room-detail-view .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.room-detail-view .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.room-detail-view .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.room-detail-view .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.room-detail-view .tab-content {
    overflow: hidden; }
.room-detail-view .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.room-detail-view .card {
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

@media screen and (min-width: 997px) {
    .room-detail-view .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.room-detail-view .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.room-detail-view .product-title, .price, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.room-detail-view .checked, .price span {
    color: #ff9f1a; }

.room-detail-view .product-title, .product-description, .price {
    margin-bottom: 15px; }

.room-detail-view .product-title {
    margin-top: 0; }

.room-detail-view .color:first-of-type {
    margin-left: 20px; }

.room-detail-view .add-to-cart {
    background: #ff4800;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.room-detail-view .add-to-cart:hover {
    background: #ee3700;
    color: #fff; }

.room-detail-view .tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }