.orange-bar{
    background-color: #ff4800 !important;
    border-bottom: 0 !important;
}
.orange-bar .navbar-brand{
    color:white !important;
}
.orange-bar .navbar-brand:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.orange-bar ul li a{
    color:white !important;
    background-color: #ff4800;
}
.orange-bar ul li.active a{
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open a{
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open ul li a {
    color:black !important;
    background-color: white !important;
}
.orange-bar ul li.dropdown.open ul li.active a {
    color:white !important;
    background-color: #ff4800 !important;
}
.orange-bar ul li.dropdown.open ul li a:hover {
    color:white !important;
    background-color: #ff4800 !important;
}
.orange-bar .navbar-header button{
    border:0;
}
.orange-bar .navbar-header button.collapsed{
    background-color: #ff4800 !important;
}
.orange-bar .navbar-header button.collapsed span{
    background-color: white !important;
}
.orange-bar .navbar-header button{
    background-color: white !important;
}
.orange-bar .navbar-header button span{
    background-color:black !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:0 !important;
}





.room-select .roomBtnGroup {
    padding: 30px;
    width: 100%;
}

.room-select .roomBtnGroup .roomItem {
    padding: 10px;
    box-shadow: none;
    position: relative;
}

.room-select .roomBtnGroup .roomItem.active {
    border-color: #ff4800 !important;
    outline: none !important;
    box-shadow: 0 3px 22px 0 #ff4800;
}

.room-select .roomBtnGroup .roomItem .thumb {
    border: 2px solid transparent;
    transition: all 0.5s;
}

.room-select .roomBtnGroup .roomItem .thumb .title{
  margin-top: 10px;
}

.room-select .roomBtnGroup .roomItem .thumb img {
    width: 100%;
}

.page-control{
    margin-bottom: 15px;
}
.page-control .btn-orange{
    color:white !important;
    background-color:#ff4800;
    border-color:#ff4800;
}
.page-control .btn-orange:hover{
    background-color:#ee3700 !important;
}

.booking-tabs li.active a{
    background-color: #ff4800 !important;
    color:white !important;
}